@model VanguardPro.Models.tb_room

@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Delete Floor</h2>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Are you sure you want to delete this?</h6>


        </div>
        <div class="card-body">
            <div class="table">

                <div>
                    <h4>tb_room</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.r_price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.r_price)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.r_availability)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.r_availability)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.r_roomNo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.r_roomNo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tb_floor.f_desc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tb_floor.f_desc)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>}
    </div>          </div>
</div>
