@model VanguardPro.Models.tb_room

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Manage Room</h2>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Room Details</h6>


            <div>
                <h4>tb_room</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.r_price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.r_price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.r_availability)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.r_availability)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.r_roomNo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.r_roomNo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.tb_floor.f_desc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tb_floor.f_desc)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.r_id }) |
        </div>            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
</div>

<!-- Page level plugins -->
<script src="~/Content/admin/js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/admin/js/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Content/admin/js/js/demo/datatables-demo.js"></script>

