@model VanguardPro.Models.tb_rental

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>

        <div class="card-body">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.tb_tenant.t_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_tenant.t_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_tenant.t_ic)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_tenant.t_ic)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_tenant.t_uploadic)
                </dt>

                <dd>
                    <a href="@Url.Action("GetFile", "tb_tenant", new { floorLayoutFileName = Model.tb_tenant.t_uploadic})" target="_blank" style="color: blue; font-weight: bold;">
                        @Model.tb_tenant.t_uploadic (Click to see)
                    </a>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_tenant.t_contract)
                </dt>

                <dd>
                    <a href="@Url.Action("GetFile", "tb_tenant", new { floorLayoutFileName = Model.tb_tenant.t_contract})" target="_blank" style="color: blue; font-weight: bold;">
                        @Model.tb_tenant.t_contract (Click to see)
                    </a>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_tenant.t_phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_tenant.t_phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_tenant.t_emergcont)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_tenant.t_emergcont)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_tenant.t_siriNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_tenant.t_siriNo)
                </dd>

            </dl>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.re_id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>
