@model IEnumerable<VanguardPro.Models.tb_tenant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.t_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_ic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_uploadic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_contract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_emergcont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_siriNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_paymentStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.t_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_ic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_uploadic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_contract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_emergcont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_siriNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_paymentStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.t_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.t_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.t_id })
        </td>
    </tr>
}

</table>
