@model VanguardPro.Models.tb_floor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tb_floor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.f_building)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_building)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_wifipwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_wifipwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_modemIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_modemIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_cctvqr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_cctvqr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_layout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_layout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_landlord.l_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_landlord.l_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_user.u_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_user.u_username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
