@model VanguardPro.Models.tb_user

@{
    ViewBag.Title = "Create";
}

<h2></h2>

<!DOCTYPE html>
<html>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box
    }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }


        button:hover {
            opacity: 1;
        }

    /* Extra styles for the cancel button */
    .cancelbtn {
        border-radius: 12px;
        padding: 14px 20px;
        background-color: #f44336;
    }

    /* Extra styles for the signup button */
    .signupbtn {
        border-radius: 12px;
        padding: 14px 20px;
        background-color: #4CAF50;
    }

    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn, .signupbtn {
        float: left;
        width: 300px;
    }

    /* Add padding to container elements */
    .container {
        x ` padding: 16px;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<form align="center">
    <div class="form-horizontal">
        <h1>Login</h1>
        <p>Please fill in this form to LOGIN.</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.u_username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.u_username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.u_username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.u_pwd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.u_pwd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.u_pwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="clearfix">
            <input type="submit" value="Login" class="signupbtn" />
            <button class="cancelbtn">
                @Html.ActionLink("Cancel", "Index", "Home")
            </button>
        </div>
        <div>
            
        </div>
    </div>
</form>
}
</body>
</html>

