@model List<VanguardPro.Models.transactionSummary>

@{
    ViewBag.Title = "Transaction Summary";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Summmary</h5>
                <!-- Filter -->
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate" name="startDate" value="@DateTime.Now.ToString("yyyy-MM")-01" class="form-control" />
                    </div>

                    <div class="form-group col-md-2">
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate" name="endDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                    </div>


                    <div class="form-group col-md-2">
                        <label for="floor">Floor:</label>
                        @Html.DropDownList("trs_floor", null, htmlAttributes: new { @class = "form-control", id = "floor" })

                    </div>
                    <div class="form-group col-md-2">
                        <label for="payment">Payment Method:</label>
                        @Html.DropDownList("trs_paymentMethod", null, htmlAttributes: new { @class = "form-control", id = "payment" })
                    </div>
                    <div class="form-group col-md-2">
                        <label for="type">Type:</label>
                        @Html.DropDownList("trs_type", null, htmlAttributes: new { @class = "form-control", id = "type" })
                    </div>
                    <div class="form-group col-md-2">
                        <label for="reset">Clear Filter:</label>
                        <button id="clearFilter" class="form-control btn btn-success">Reset</button>
                    </div>
                </div>
                <!-- End Filter -->
                <!--==== DATATABLE ====-->

                <div id="partialViewContainer">
                    @Html.Partial("_summaryTable", Model)
                </div>
                <button class="btn btn-primary" id="exportPdf" onclick="PrintElem('#partialViewContainer')">Print</button>

            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#startDate, #endDate, #floor, #payment, #type').on('change', function () {
                var data = {
                    startDate: $('#startDate').val(),
                    endDate: $('#endDate').val(),
                    floor: $('#floor').val(),
                    payment: $('#payment').val(),
                    type: $('#type').val()
                };
                var qurl = '@Url.Action("summaryFilter", "transactionSummary")' + '?' + $.param(data);
                console.log('Url: '+qurl);
                $.ajax({
                    url: qurl,
                    type: 'GET',
                    data: data,
                    dataType: "html",
                    success: function (result) {
                        //console.log(result);
                        $('#partialViewContainer').html(result);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            //clearFilter
            $('#clearFilter').click(function () {
                $('#startDate').val('');
                $('#endDate').val('');
                $('#floor').val(0);
                $('#payment').val(0);
                $('#type').val(0);

                var data = {
                    startDate: '',
                    endDate: '',
                    floor: 0,
                    payment: 0,
                    type: 0
                };
                $.ajax({
                    url: '@Url.Action("summaryFilter", "expenditureSummary")',
                    type: 'GET',
                    data: data,
                    dataType: "html",
                    success: function (result) {
                        //console.log(result);
                        $('#partialViewContainer').html(result);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
        function PrintElem(elem) {
            Popup($(elem).html());
        }

        function Popup(divtoprint) {
            var styleSheet = `
    <!-- Vendor CSS Files -->
    <link href="/Content/admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Content/admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Content/admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/Content/admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/Content/admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/Content/admin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/Content/admin/assets/css/style.css" rel="stylesheet">
    <link href="/Content/custom.css" rel="stylesheet" />`;


            var myWindow = window.open('', 'Report', 'height=794,width=1123');
            myWindow.document.write('<html><head><title>Report</title>');
            myWindow.document.write(`    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Report</h5>`);
            myWindow.document.write(styleSheet);
            myWindow.document.write('</head><body >');
            myWindow.document.write(divtoprint);
            myWindow.document.write(data);
            myWindow.document.write(`
                </div>
            </div>
        </div>
    </div>`);
            myWindow.document.write('</body></html>');
            myWindow.document.close(); // necessary for IE >= 10

            myWindow.onload = function () { // necessary if the div contain images

                myWindow.focus(); // necessary for IE >= 10
                myWindow.print();
                myWindow.close();
            };
        }
    </script>
}
