@model List<VanguardPro.Models.transactionSummary>

@{
    ViewBag.Title = "Transaction Summary";
}

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Transaction List</h6>
        </div>
        <div class="card-body">
            <h5 class="card-title">Transaction</h5>

            <!-- Filter -->
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="startDate" value="@DateTime.Now.ToString("yyyy-MM")-01" class="form-control" />
                </div>

                <div class="form-group col-md-5">
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                </div>
            </div>
            <!-- End Filter -->


            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Day</th>
                        <th>Method</th>
                        <th>Description</th>
                        <th>Inflow</th>
                        <th>Outflow</th>
                        <th>Total In</th>
                        <th>Total Out</th>
                        <th>Difference</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Year</td>
                            <td>@item.Month</td>
                            <td>@item.Day</td>
                            <td>@item.PaymentMethod</td>
                            <td>@item.Desc</td>
                            <td>@item.Inflow</td>
                            <td>@item.Outflow</td>
                            <td>@item.TotalIn</td>
                            <td>@item.TotalOut</td>
                            <td>@item.Difference</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
<div id="result"></div>
</section>
@section scripts{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#startDate, #endDate').on('change', function () {
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();
                // Use the startDate and endDate values as needed
                console.log('Start Date:', startDate);
                console.log('End Date:', endDate);
                // Perform further actions or AJAX request with the startDate and endDate values
                $.ajax({
                    url: @Url.Action("filter", "transactionSummary"),
                    type: 'POST',
                    dataType: 'html',
                    data： {
                    start: startDate,
                    end: endDate
                }
                    success: function (result) {
                        #('#result').html(result);
                    },
                    error: function () {
                        console.log('error');
                    }
                })
            });
        });
    </script>
}
