@model IEnumerable<VanguardPro.Models.tb_attendance>


@{
    ViewBag.Title = "Index";
    var isAdmin = false;
}
@if (Session["UserID"] != null && Session["UserType"].ToString() == "1")
{
    isAdmin = true;
}
<style>
    .row {
        margin-right: 0px;
    }
</style>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Manage Attendance</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <button class="button" width="20" style="background-color: lightskyblue;">
                    @Html.ActionLink("Create New", "Create")
                </button>
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.tb_floor.f_building)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.atd_check)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tb_floor.f_building)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.atd_check)
                                </td>
                                <td>


                                    <a href="@Url.Action("Details", new { id = item.atd_id  })" title="Details">
                                        <i class="fas fa-info-circle fa-lg text-info"></i>
                                    </a>

                                    <a href="@Url.Action("Delete", new {id = item.atd_id })" title="Delete">
                                        <i class="fas fa-trash-alt fa-lg text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>















