@model List<VanguardPro.Models.HomeDashboard>
@{
    ViewBag.Title = "Home Page";
    var currentDate = DateTime.Now;
    var currentMonthShow = currentDate.ToString("MMMM");
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<main>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Net Profit (@currentMonthShow)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    @{
                                        int currentYear = currentDate.Year;
                                        int currentMonth = currentDate.Month;
                                        decimal differenceSum = 0;
                                        decimal differenceSumYear = 0;
                                        int tempMonth = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        if (item.TransactionSummary.Month == currentMonth)
                                        {
                                            differenceSum = item.TransactionSummary.Difference;
                                        }
                                    }
                                    <p>RM @differenceSum</p>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Annual Net Profit (@currentYear)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    @foreach (var item in Model)
                                    {
                                        if (item.TransactionSummary.Year == currentYear)
                                        {
                                            if (tempMonth!= item.TransactionSummary.Month)
                                            {
                                                tempMonth = item.TransactionSummary.Month;
                                                differenceSumYear += item.TransactionSummary.Difference;
                                            }
                                        }
                                    }
                                    <p>RM @differenceSumYear</p>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Vacant Rooms
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.VacantRoomCount</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                 style="width: @ViewBag.VacantRoomPercentage%" aria-valuenow="50" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-hotel fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Pending Rentals
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.pendingRental.Count</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Rental Due Dates</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <div class="table-responsive">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Floor</th>
                                    <th>Room</th>
                                    <th>Due Date</th>
                                    <th>Payment Status</th>
                                    <th>Send Reminder</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var reminderList = ViewBag.reminder;
                                }
                                @foreach (var item in reminderList)
                                {
                                    <tr>
                                        <td>@item.tb_tenant.t_name</td>
                                        <td>@item.tb_room.tb_floor.f_desc</td>
                                        <td>@item.tb_room.r_roomNo</td>
                                        <td>@item.re_outdate</td>
                                        @if (item.re_paymentStatus == "Paid")
                                        {
                                            <td>
                                                <span class="badge bg-success">Paid</span>
                                            </td>
                                        }
                                        @if (item.re_paymentStatus == "Unpaid")
                                        {
                                            <td>
                                                <span class="badge bg-danger">Unpaid</span>
                                            </td>
                                        }
                                        @if (item.re_paymentStatus == "Partially Paid")
                                        {
                                            <td>
                                                <span class="badge bg-warning">Partially Paid</span>
                                            </td>
                                        }
                                        @if (item.re_paymentStatus == null)
                                        {
                                            <td>
                                            </td>
                                        }
                                        <td>
                                            <button class="btn btn-primary btn-sm" onclick="sendWhatsAppMessage('@item.tb_tenant.t_phone', 'Dear [@item.tb_tenant.t_name], please make payment of RM @item.re_rentPrice to our bank account: [Bank Account Number]. Thank you.')">
                                                <i class="fab fa-whatsapp "></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Vacant Rooms</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <div class="table-responsive">
                        <table class="table" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Floor</th>
                                    <th>Room Number</th>
                                    <th>Price</th>
                                    <th>Availability</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.VacantRooms != null && ViewBag.VacantRooms.Count > 0)
                                {
                                    foreach (var room in ViewBag.VacantRooms)
                                    {
                                        string availabilityDate = string.Empty;
                                        string availabilityTime = string.Empty;

                                        if (room.r_availability == "Available")
                                        {
                                            <tr>
                                                <td>@room.tb_floor.f_desc</td>
                                                <td><a href="@Url.Action("Details", "tb_room", new { id = room.r_id })" class="text-primary">@room.r_roomNo</a></td>
                                                <td>@room.r_price</td>
                                                <td>
                                                    <span class="badge bg-success">Available</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
</main>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<script>
    function sendWhatsAppMessage(phoneNumber, message) {
        // Replace [Bank Account Number] with the actual bank account number
        message = message.replace('[Bank Account Number]', '107358116153');

        // Encode the message for use in the WhatsApp URL
        var encodedMessage = encodeURIComponent(message);

        // Construct the WhatsApp URL with the phone number and encoded message
        var whatsappUrl = 'https://wa.me/+6' + phoneNumber + '?text=' + encodedMessage;

        // Open the WhatsApp URL in a new window or tab
        window.open(whatsappUrl);
    }
</script>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
            $('#dataTable1').DataTable();


        });
    </script>
}