@model IEnumerable<VanguardPro.Models.tb_transaction>

@{
    ViewBag.Title = "Index";
    var isAdmin = false;
}
@if (Session["UserID"] != null && Session["UserType"].ToString() == "1")
{
    isAdmin = true;
}

<style>
    .row {
        margin-right: 0px;
    }
</style>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Transaction List</h6>
        </div>
        <div class="card-body">
            @if (isAdmin)
            {
                <a href="@Url.Action("Create")" title="Create" class="btn btn-primary" style="float:right;">
                    Create
                </a>
            }

            <a href="@Url.Action("Index", "transactionSummary")" title="Summary" class="btn btn-primary" style="float:right; margin-right:10px">
                Summarize
            </a>
            <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.tb_floor.f_desc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tr_date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tr_amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tr_desc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tr_type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tr_paymentMethod)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tr_receipt)
                            </th>
                            @if (Session["UserID"] != null && Session["UserType"].ToString() == "1")
                            { <th></th>}

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tb_floor.f_desc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tr_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tr_amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tr_desc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tr_type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tr_paymentMethod)
                                </td>
                                <td>
                                    <a href="@Url.Action("GetFile", "tb_tenant", new { floorLayoutFileName = item.tr_receipt})" target="_blank" style="color: blue; font-weight: bold;">
                                        @item.tr_receipt (Click to see)
                                    </a>
                                </td>
                                @if (Session["UserID"] != null && Session["UserType"].ToString() == "1")
                                {
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.tr_id })" title="Edit">
                                        <i class="fas fa-edit fa-lg text-primary"></i>
                                    </a>

                                    <a href="@Url.Action("Details", new { id = item.tr_id })" title="Details">
                                        <i class="fas fa-info-circle fa-lg text-info"></i>
                                    </a>

                                    <a href="@Url.Action("Delete", new { id = item.tr_id })" title="Delete">
                                        <i class="fas fa-trash-alt fa-lg text-danger"></i>
                                    </a>
                                </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}
