@model IEnumerable<VanguardPro.Models.tb_transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tr_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tr_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tr_paymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tr_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tr_receipt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tr_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tr_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tr_paymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tr_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tr_receipt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tr_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.tr_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tr_id })
        </td>
    </tr>
}

</table>
