@model IEnumerable<VanguardPro.Models.tb_transaction>

    @{
        ViewBag.Title = "Index";
    }

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Investor List</h6>
            </div>
            <div class="card-body">
                <p style="float:right;">
                    @Html.ActionLink("Create New", "Create")
                </p>
                <div class="table-responsive">
                    <table class="table" id="dataTable" width="100%" cellspacing="0" ">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.tr_date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tr_desc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tr_type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tr_paymentMethod)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tr_receipt)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tr_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tr_desc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tr_type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tr_paymentMethod)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tr_receipt)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.tr_id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.tr_id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.tr_id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Page level plugins -->
    <script src="~/Content/admin/js/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/admin/js/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/admin/js/js/demo/datatables-demo.js"></script>
