@model VanguardPro.Models.tb_landlord

@{
    ViewBag.Title = "Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Landlord</h6>
        </div>
        @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Landlord Details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.l_id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.l_id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.l_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.l_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.l_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.l_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.l_phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.l_phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.l_phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.l_due, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" type="date">
                    @Html.EditorFor(model => model.l_due, new { htmlAttributes = new { type = "date", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.l_due, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.l_price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" type="date">
                    @Html.EditorFor(model => model.l_price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.l_price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <tr class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </tr>
                <tr>
                    @Html.ActionLink("Back to List", "Index")
                </tr>
            </div>
        </div>
            }
    </div>
</div>


<!-- Page level plugins -->
<script src="~/Content/admin/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Content/admin/js/demo/datatables-demo.js"></script>
