@model VanguardPro.Models.tb_inventory

@{
    ViewBag.Title = "Create";
}

<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Manage Inventory</h2>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Inventory List</h6>


        </div>
        <div class="card-body">
            <div class="table-responsive">








                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.ivtry_fid, "Inventory Building", htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.DropDownList("ivtry_fid", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ivtry_fid, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <table class="table table-bordered"  width="100%" cellspacing="0">

                        <tr>
                            <th>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ivtry_item, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.ivtry_item, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.ivtry_item, "", new { @class = "text-danger" })


                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ivtry_count, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.ivtry_count, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.ivtry_count, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </th>
                        </tr>
                     
                    </table>


                </div>






                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>





                }



            </div>
        </div>


    </div>
</div>



@section scripts {
    <script>
        $(document).ready(function () {
            var counter = 0;

            $("#add-item").click(function () {
                var newItemHtml = `


                                    <tr>
                                            <th>

                                                    <label for="intry_item${counter}"></label>
                                                    <div class="col-md-6" >
                                                         <input type="text" name="intry_item${counter}" class="form-control item-input" required />

                                                    </div>
                                                </div>

                                            </th>
                                            <th>

                                                     <label for="intry_count${counter}"></label>
                                                    <div class="col-md-6">
                                                        <input type="number" name="intry_count${counter}" class="form-control count-input" required />
                                                    </div>
                                                </div>
                                            </th>
                                 </tr>



                                        `;

                $("#items-container").append(newItemHtml);
                counter++;
            });
        });
    </script>
}

<!-- Page level plugins -->
<script src="~/Content/admin/js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/admin/js/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Content/admin/js/js/demo/datatables-demo.js"></script>





