@model IEnumerable<VanguardPro.Models.tb_inventory>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Manage Inventory</h2>
    <p>
        @Html.ActionLink("Add New Inventory", "Create")
    </p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Inventory List</h6>


        </div>




        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.tb_floor.f_building)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ivtry_item)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ivtry_count)

                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_floor.f_building)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ivtry_item)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ivtry_count)
                    </td>
                    <td>

                        <a href="@Url.Action("Edit", new { id = item.ivtry_id})" title="Edit">
                            <i class="fas fa-edit fa-lg text-primary"></i>
                        </a>

                        <a href="@Url.Action("Details", new { id = item.ivtry_id })" title="Details">
                            <i class="fas fa-info-circle fa-lg text-info"></i>
                        </a>

                        <a href="@Url.Action("Delete", new {id = item.ivtry_id })" title="Delete">
                            <i class="fas fa-trash-alt fa-lg text-danger"></i>
                        </a>



                    </td>
                </tr>
            }

        </table>











    </div>
</div>


<!-- Page level plugins -->
<script src="~/Content/admin/js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/admin/js/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Content/admin/js/js/demo/datatables-demo.js"></script>






