@model VanguardPro.Models.tb_investors

@{
    ViewBag.Title = "Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Investor</h6>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="card-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.i_lot, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.i_lot, new { htmlAttributes = new { @class = "form-control required" } })
                            @Html.ValidationMessageFor(model => model.i_lot, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.i_lotperc, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.i_lotperc, new { htmlAttributes = new { @class = "form-control required" } })
                            @Html.ValidationMessageFor(model => model.i_lotperc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
    <!-- Page level plugins -->
    <script src="~/Content/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/admin/js/demo/datatables-demo.js"></script>
