@model VanguardPro.Models.tb_investors

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>

        <div class="card-body">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.i_uid)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.i_uid)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.i_lot)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.i_lot)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.i_lotperc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.i_lotperc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_user.u_username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_user.u_username)
                </dd>

            </dl>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.i_id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>