@model IEnumerable<VanguardPro.Models.tb_investors>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">Create</h2>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Investor List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" ">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.i_uid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.i_lot)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.i_lotperc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tb_user.u_username)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.i_uid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.i_lot)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.i_lotperc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tb_user.u_username)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.i_id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.i_id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.i_id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<!-- Page level plugins -->
<script src="~/Content/admin/js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/admin/js/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Content/admin/js/js/demo/datatables-demo.js"></script>